# Ignore virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit cache
.streamlit/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Ignore IntelliJ / PyCharm project settings
.idea/
